<div class="mt-10 mb-10">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="container-inner d-flex flex-row space-between align-center">
          <div class="company-and-search d-flex flex-row align-center">
        <span class="company-name">
          TakeAway
        </span>

            <span class="ml-5">
          <div class="custom-input">

            <span class="">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input type="text">
          </div>
        </span>
          </div>

          <div class="navbar-items d-flex flex-row align-center">
            <div class="navbar-item">
              Մեր մասին
            </div>
            <div class="navbar-item">
              Կապ
            </div>
            <div class="navbar-item navbar-item-icon">
              <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="navbar-item navbar-item-icon">
              <i class="fa-brands fa-instagram"></i>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
