<div class="footer-container pt-10">
  <div class="container">
    <div class="row">

      <div class="col-xs-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="d-flex flex-col">
          <div class="footer-title">
            TakeAway
          </div>
          <div class="row mt-4">
            <div class="col-12 col-md-8">
              <p class="footer-description">
                Լորեմ Իպսումը տպագրության և տպագրական արդյունաբերության համար նախատեսված մոդելային տեքստ է։
              </p>
            </div>
          </div>

          <div class="row mt-7">
            <div class="col-12 col-md-8">

              <div class="footer-icons d-flex flex-row mb-7">
                <div class="navbar-item navbar-item-icon">
                  <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="navbar-item navbar-item-icon ml-4">
                  <i class="fa-brands fa-instagram"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="d-flex flex-col">
          <div class="footer-title-place mt-2">
            Կապ մեզ հետ
          </div>

          <div class="place-container d-flex flex-col mt-4">
            <div class="place">Հայաստան, 0002, Երևան</div>
            <div class="place">Մաշտոցի Պողոտա 37շ․</div>
            <div class="place">Երկ Երք Չրք Հնգ Ուրբ 10:00-19:00</div>
          </div>

          <div class="phone-container d-flex flex-col mt-7">
            <div class="phone">+374-95-711911</div>
            <div class="phone">+374-11-212122</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container pb-3 footer-bottom">
    <div class="row">
      <div class="built-by col-md-6 col-12">
        Designed and Developed by <a target="_blank" href="https://www.linkedin.com/in/edgar-pachinsky-729760211/" style="text-decoration: underline !important;color: #9c702a!important">E.Pachinsky</a>
        <span class="ml-1 mr-1" style="">&&</span> <a target="_blank" href="https://www.linkedin.com/in/karen-aghlamazyan-52b031170/" style="text-decoration: underline !important;color: #9c702a!important;">K.Aghlamazyan</a>
      </div>

      <div class="rights-reserved col-md-6 col-12">
        <span class="" style="color: #9c702a;">©</span> TakeAway 2024. All Rights Reserved.
      </div>
    </div>
  </div>
</div>
