.home-title{
  padding: 120px 0 120px 0;
  font-family: ArmenianYerevanian;
  font-size: 70px;
  line-height: 82px;
  color: #5d5d5d;
  letter-spacing: 2px;
}
.hint-element{
  font-family: ArmenianYerevanian !important;
}

.categories{
  flex-wrap: wrap;

  .category-container{
    position: relative;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    cursor: pointer;
    padding: 9px 23px;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 20px;
    font-family: ArmenianAmrysBold;
    margin: 10px 10px;
    transition: border-color 0.3s ease;
    border: 1px solid transparent;
    transition: .3s;

    &:hover{
      top: -3px;
      transition: .3s;
    }

    .category-container-inner{
      letter-spacing: 2px;
    }

    &:hover {
      border: 1px solid currentColor;
    }

    &.active-category{
      border: 1px solid currentColor;
    }
  }
}

.category_products{

  .product{
    cursor: pointer;
    //width: 30%;
    background: #FFFFFF;
    //height: 100px;
    //padding: 10px;
    margin: 0 10px 0 10px;
    border-radius: 30px;
    overflow: hidden;
    transition: .3s;
    position: relative;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    &:hover{
      position: relative;
      top: -10px;
      transition: .3s;box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    .product-inner{

      .product-image{
        width: 100%;
        border-radius: 30px;
        overflow: hidden;
        //height: 220px;

        img{
          width: 100%;
        }
      }

      .product-name{
        font-size: 25px;
        line-height: 25px;
        height: 100px;
        word-break: break-word;
        font-family: ArmenianYerevanian;
        padding: 20px;
      }

      .product-info{
        padding: 0 20px 10px 20px;

        .info-left{

        }

        .info-right{
          font-family: ArmenianYerevanian;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {

  .category_products{

    .product {

      .product-inner {

        .product-image {
          //height: 150px;
        }
      }
    }
  }
}


@media (max-width: 992px) {
  .home-title{
    letter-spacing: 0;
    padding: 40px 0 40px 0;
    font-size: 35px;
    line-height: 47px;
  }

  .category_products {

    .product {
      //width: 45%;

      .product-inner {

        .product-name {
          height: 95px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .category_products {

    .product {
      //width: 45%;
    }
  }
}

@media (max-width: 450px) {
  .category_products {

    .product {
      //width: 100%;

      .product-inner{

        .product-image{

          //height: 230px;
        }
      }
    }
  }
}

